@font-face {
	font-family: chivo-mono;
	src: url(assets/ChivoMono-VariableFont_wght.ttf);
}

body {
	margin: 0;
	box-sizing: border-box;
	overflow: hidden;
	height: 100vh;
	scroll-behavior: smooth;
	font-family: chivo-mono;
	background-color: #ffffff;
	background-image: radial-gradient(#c3c3c3 0.5px, transparent 0.5px), radial-gradient(#c3c3c3 0.5px, #ffffff 0.5px);
	background-size: 20px 20px;
	background-position: 0 0, 10px 10px;
}

.title {
	position: absolute;
	top: 50%;
	right: 50%;
	transform: translate(50%, -50%);
	font-size: 5rem;
	font-weight: 500;
}

#gallery {
	width: 150vw;
	height: 150vh;
	position: absolute;
	will-change: transform;
}

.shape {
	position: absolute;
	border-radius: 0.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #000;
	transition: transform 1s ease, width 1s ease, height 1s ease, top 1s ease, left 1s ease, right 1s ease, bottom 1s ease;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.shape > .description {
	opacity: 0;
}

.shape > .background {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	border-radius: 0.5rem;
	opacity: 1;
	transition: opacity 0.3s ease-in-out;
	overflow: hidden;
}

.shape > .shape-title {
	position: absolute;
	bottom: 5%;
	right: 5%;
	color: #fff;
	transform: translateX(100%);
	visibility: hidden;
	transition: transform 0.3s ease-in-out;
	font-size: 2rem;
}

.shape:hover > .shape-title {
	transform: translateX(0%);
	visibility: visible;
}

.shape:not(.expanded):hover {
	cursor: pointer;
	transform: scale(1.1);
}

.shape:hover > .background {
	opacity: 0.3;
}

.shape:nth-child(1) {
	width: 500px;
	aspect-ratio: 16 / 9;
	top: 20%;
	left: 10%;
}

.shape:nth-child(2) {
	height: 500px;
	aspect-ratio: 3 / 4;
	top: calc(80% - 500px);
	left: 70%;
}

.shape:nth-child(3) {
	width: 300px;
	aspect-ratio: 1 / 1;
	top: calc(90% - 300px);
	left: 40%;
}

.shape.expanded {
	width: 90vw;
	height: 90vh;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
}

.shape.expanded > .shape-title {
	display: none;
}

.shape.expanded > .background {
	opacity: 0.5;
}

.shape.expanded:hover > .background {
	opacity: 0.5;
}

.shape > .close-icon {
	width: 2rem;
	height: 2rem;
	position: absolute;
	top: 1rem;
	right: 1rem;
	color: #fff;
	opacity: 0;
	visibility: hidden;
	cursor: pointer;
	transition: opacity 0.3s ease-in-out;
	pointer-events: none;
	z-index: 20;
}

.shape.expanded > .close-icon {
	pointer-events: all;
	visibility: visible;
	opacity: 1;
	transition-delay: 1s;
}

.shape-body {
	position: absolute;
	top: 10%;
	left: 10%;
	height: 80%;
	width: 80%;
	display: flex;
	flex-direction: column;
}

.shape-body > .headline {
	color: #fff;
	font-size: 2rem;
	font-weight: 700;
	opacity: 0;
	transform: translateX(-10%);
	transition: opacity 0.4s ease, transform 0.4s ease-in-out;
}

.shape-body[data-visible='true'] > .headline {
	opacity: 0.8;
	transform: translateX(0%);
	transition-delay: 1s;
}
