body {
	margin: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

.container {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.carousel-wrapper {
	position: relative;
	height: 50vh;
	width: 50vw;
	display: flex;
	flex-direction: column;
}

.indicator-wrapper {
	display: none;
}

.indicator-item {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1 1 0;
	font-size: 20px;
}

.indicator-item::before {
	flex: 1 1 0;
	content: '';
	height: 4px;
	background-color: red;
	margin-right: 1rem;
}

.indicator-item::after {
	flex: 1 1 0;
	content: '';
	height: 4px;
	background-color: red;
	margin-left: 1rem;
}

.indicator-item:first-of-type::before {
	visibility: hidden;
}

.indicator-item:last-of-type::after {
	visibility: hidden;
}

.carousel-body {
	position: relative;
	display: flex;
	flex: 1 1 0;
	align-items: center;
	justify-content: center;
}

.slide {
	position: absolute;
	height: 100%;
	left: 0;
	right: 0;
	opacity: 0;
	transition: opacity 0.6s ease-in;
}

.slide.exit > h2 {
	animation: slideUpOut 1s forwards;
}

.slide.exit > div {
	animation: slideUpOut 1s forwards;
	animation-delay: 0.2s;
}

.slide > h2 {
	opacity: 0;
	transform: translateY(100%);
	transition: all 0.3s ease-in;
}

.slide > div {
	opacity: 0;
	transform: translateY(25%);
	transition: all 0.3s ease-in;
}

.slide[data-active] {
	padding: 2rem;
	left: 0;
	animation: slide-in-left 0.9s forwards ease-in;
	animation-delay: 0.1s;
}

.slide[data-active] > h2 {
	opacity: 1;
	transform: translateY(0%);
	transition-delay: 0.9s;
}

.slide[data-active] > div {
	opacity: 1;
	transform: translateY(0%);
	transition-delay: 1s;
}

.slide:nth-child(1) {
	background-color: red;
}

.slide:nth-child(2) {
	background-color: green;
}

.slide:nth-child(3) {
	background-color: blue;
}

.slide:nth-child(4) {
	background-color: purple;
}

.btn-next-slide,
.btn-prev-slide {
	background: transparent;
}

.btn-prev-slide {
	position: absolute;
	top: 50%;
	left: -10%;
}

.btn-next-slide {
	position: absolute;
	top: 50%;
	right: -10%;
}

@keyframes slideUpOut {
	0% {
		transform: translateY(0%);
		opacity: 1;
	}
	100% {
		transform: translateY(-100%);
		opacity: 0;
	}
}

@keyframes fade-out {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes slide-in-left {
	0% {
		opacity: 0;
		right: 100%;
	}
	100% {
		opacity: 1;
		right: 0;
	}
}
